---
http_interactions:
- request:
    method: get
    uri: https://www.dwolla.com/oauth/rest/users?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq/IR+Gvl8mkYqf29xG3cFe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 307
      message: Temporary Redirect
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://www.dwolla.com/oauth/rest/users/?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq%2FIR%2BGvl8mkYqf29xG3cFe
    body:
      encoding: ASCII-8BIT
      string: ! "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!DOCTYPE html
        PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n  <head>\r\n    <title>Service</title>\r\n
        \   <style>BODY { color: #000000; background-color: white; font-family: Verdana;
        margin-left: 0px; margin-top: 0px; } #content { margin-left: 30px; font-size:
        .70em; padding-bottom: 2em; } A:link { color: #336699; font-weight: bold;
        text-decoration: underline; } A:visited { color: #6699cc; font-weight: bold;
        text-decoration: underline; } A:active { color: #336699; font-weight: bold;
        text-decoration: underline; } .heading1 { background-color: #003366; border-bottom:
        #336699 6px solid; color: #ffffff; font-family: Tahoma; font-size: 26px; font-weight:
        normal;margin: 0em 0em 10px -20px; padding-bottom: 8px; padding-left: 30px;padding-top:
        16px;} pre { font-size:small; background-color: #e5e5cc; padding: 5px; font-family:
        Courier New; margin-top: 0px; border: 1px #f0f0e0 solid; white-space: pre-wrap;
        white-space: -pre-wrap; word-wrap: break-word; } table { border-collapse:
        collapse; border-spacing: 0px; font-family: Verdana;} table th { border-right:
        2px white solid; border-bottom: 2px white solid; font-weight: bold; background-color:
        #cecf9c;} table td { border-right: 2px white solid; border-bottom: 2px white
        solid; background-color: #e5e5cc;}</style>\r\n  </head>\r\n  <body>\r\n    <div
        id=\"content\">\r\n      <p class=\"heading1\">Service</p>\r\n      <p xmlns=\"\">There
        is no operation listening for <a href=\"http://phx-dwol-web1.cloudworks.com/oauth/rest/users?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq%2FIR%2BGvl8mkYqf29xG3cFe\">http://phx-dwol-web1.cloudworks.com/oauth/rest/users?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq%2FIR%2BGvl8mkYqf29xG3cFe</a>,
        but there is an operation listening for <a href=\"http://www.dwolla.com/oauth/rest/users/?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq%2FIR%2BGvl8mkYqf29xG3cFe\">http://www.dwolla.com/oauth/rest/users/?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq%2FIR%2BGvl8mkYqf29xG3cFe</a>,
        so you are being redirected there.</p>\r\n    </div>\r\n  </body>\r\n</html>"
  recorded_at: Mon, 10 Sep 2012 03:54:52 GMT
- request:
    method: get
    uri: http://www.dwolla.com/oauth/rest/users/?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq/IR+Gvl8mkYqf29xG3cFe
    body:
      encoding: ASCII-8BIT
      string: ! "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!DOCTYPE html
        PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n  <head>\r\n    <title>Service</title>\r\n
        \   <style[...]
- request:
    method: get
    uri: https://www.dwolla.com/oauth/rest/users/?oauth_token=WROHQReKuAskqbPNLp2XpS5xiZ0Sq/IR+Gvl8mkYqf29xG3cFe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: US-ASCII
      string: ! '{"Success":true,"Message":"Success","Response":{"City":"north potomac","State":"MD","Type":"Personal","Id":"812-701-0535","Name":"venkata
        pasupuleti","Latitude":0,"Longitude":0}}'
  recorded_at: Mon, 10 Sep 2012 03:54:53 GMT
recorded_with: VCR 2.2.5
