---
http_interactions:
- request:
    method: get
    uri: https://www.dwolla.com/oauth/rest/users/812-626-8794?client_id=ORmp8bJQmMUyHa1URVzRjs5ptTFjsSJnySRUnTs3QiCNUv7x2K&client_secret=ORmp8bJQmMUyHa1URVzRjs5ptTFjsSJnySRUnTs3QiCNUv7x2K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: US-ASCII
      string: ! '{"Success":true,"Message":"Success","Response":{"Id":"812-626-8794","Name":"Alexander
        Taub","Latitude":0,"Longitude":0}}'
  recorded_at: Mon, 10 Sep 2012 00:55:27 GMT
recorded_with: VCR 2.2.5
