---
http_interactions:
- request:
    method: get
    uri: https://www.dwolla.com/oauth/rest/users/michael@dwolla.com?client_id=ORmp8bJQmMUyHa1URVzRjs5ptTFjsSJnySRUnTs3QiCNUv7x2K&client_secret=ORmp8bJQmMUyHa1URVzRjs5ptTFjsSJnySRUnTs3QiCNUv7x2K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: US-ASCII
      string: ! '{"Success":false,"Message":"Invalid account identifier.","Response":null}'
  recorded_at: Mon, 10 Sep 2012 00:55:28 GMT
- request:
    method: get
    uri: https://www.dwolla.com/oauth/rest/users/subbarao.pasupuleti@gmail.com?client_id=ORmp8bJQmMUyHa1URVzRjs5ptTFjsSJnySRUnTs3QiCNUv7x2K&client_secret=ORmp8bJQmMUyHa1URVzRjs5ptTFjsSJnySRUnTs3QiCNUv7x2K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: US-ASCII
      string: ! '{"Success":true,"Message":"Success","Response":{"Id":"812-701-0535","Name":"venkata
        pasupuleti","Latitude":0,"Longitude":0}}'
  recorded_at: Mon, 10 Sep 2012 00:57:11 GMT
recorded_with: VCR 2.2.5
